body {
    min-width: 60%;
    width: 80%;
    margin: auto;
}

.container {
    background-color: lightblue;
    padding: 2%
}

h1 {
    color: navy;
}

#task {
    padding: 2% 5%;
    border-color: navy;
}

#submit {
    padding: 2% 5%;
    border-color: navy;
    background-color: navy;
    color: white;
}

.ongoing {
    color: navy;
}

.completed {
    text-decoration: line-through;
    color: gray;
}